extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let electronicsid = toShow._id
    - let Gadget = toShow.Gadget
    - let Price = toShow.Price
    - let Storage  = toShow.Storage
    - let actionid = "/resource/electronics/" + electronicsid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='electronicsAttr mr-3') electronics ID is:
        div #{electronicsid}
      div.row
        div(class='electronicsAttr mr-3') Gadget is:
        div #{Gadget}
      div.row
        div(class='electronicsAttr mr-3') electronics Price is:
        div #{Price}
      div.row
        div(class='electronicsAttr mr-3') electronics Storage is:
        div #{Storage}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the electronics collection
        window.location.href='/electronics'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/electronics'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
