extends layout
block content
 h1= title
 - let items = results;
   each item in items
    - let destination = `dispatch("/electronics/update?id=${item._id}")`
      div
       p Gadget - #{item.Gadget}
       p Price  - #{item.Price}
       p Storage - #{item.Storage}
       button.btn( class="btn-primary ml-1", onclick= destination) Update
       br
       br
 script.
  function dispatch(path){
   window.location.href=path
  }